* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 4px 20px;
    background-color: lightgray;
}

.inputs,
.optionmenu {
    display: flex;
    gap: 10px;
    align-items: center;
}

button,
#txtinput {
    border: none;
    outline: none;
    padding: 5px;
    font: 15px;
    border-radius: 5px;
    height: 30px;
}

#txtinput {
    width: 180px;
}

.option {
    display: flex;
    align-items: center;
    gap: 3px;
}

#container {
    width: 800px;
    height: 800px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}